.routes-page {
  padding: 20px 0;

  .oper-group {
    margin-bottom: 20px;
  }

  .alert {
    margin: 20px 0;
  }

  .highlight {
    color: $primary;
  }
}

.table {
  ::v-deep a {
    color: red;
  }
}

.table {
  .row-root {
    // background: #ddebfa;
  
    .route-name {
      font-size: 15px;
      font-weight: 700;
    
      &.is-root {
        color: #326ee2;
      }
    }
  }

  .el-icon-success {
    margin-right: 4px;
    color: #67C23A;
  }

  .path {
    color: $primary;
    font-weight: bold;
    font-size: 14px;
  }

  // .oper-btn {
  //   font-size: 16px;
  // }
}





.authority-btn {
  color: #E6A23C;
}

.delete-btn {
  color: #F56C6C;
}

.auth-page {
  .alert-info {
    a {
      color: #409eff;
      text-decoration: none;
    }
  }
}

.add-page {
  .hr {
    margin: 14px 0;
    width: 100%;
    height: 1px;
    background: #eee;
  }
}