.lea-header {
  position: relative;
  z-index: 10;
  width: 100%;

  .view-width {
    display: flex;

    height: 100%;
  }

  .is-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .header-wrapper {
    width: 100%;
    background: #f0f0f0;
  }

  nav {
    margin-left: 40px;
    height: 100%;

    ul, li {
      height: 100%;
    }

    ul {
      display: flex;
    }

    .link {
      display: flex;
      align-items: center;
      padding: 0 20px;
      height: 100%;
      color: #666;

      &:hover,
      &.selected {
        background: $primary;
        color: #fff;
      }
    }
  }
}